<footer>
  <div class="footer-message">
    thanks for visiting my site i made to see the other things i've made displayed here on my site
  </div>
  <div class="copyright">
    <h6>&copy; Hannah van Adrichem 2017</h6>
  </div>
  <div class="footer-icons">
    <a href="mailto:hhhansmole@gmail.com?Subject=Hi%20Hansmole" class="fa fa-envelope-o" target="_top"></a>
    <a href="https://www.facebook.com/hhhansmole/" class="fa fa-facebook" target="_blank"></a>
    <a href="https://www.instagram.com/hhhansmole/" class="fa fa-instagram" target="_blank"></a>
    <a href="https://github.com/hannahva?tab=repositories" class="fa fa-github" target="_blank"></a>
  </div>

</footer>