<!DOCTYPE html>
<html>
  <%- include partials/_head %>
  <body>
    <%- include partials/_header.ejs %>
    <h1>Contact</h1>
    <a href="mailto:hhhansmole@gmail.com?Subject=Hi%20Hansmole" target="_top">Send an email</a>
    <a href="https://www.facebook.com/hhhansmole/" class="fa fa-facebook" target="_blank">Hansmole on Zuckerbook</a>
    <a href="https://www.instagram.com/hhhansmole/" class="fa fa-instagram" target="_blank">Hey, check out my instagram</a>
    <a href="https://github.com/hannahva?tab=repositories" class="fa fa-github" target="_blank">Look at my GitHub, if you like that sort of thing</a>
  </body>
</html>