<!DOCTYPE html>
<html>
  <%- include partials/_head %>
  <body>
    <%- include partials/_header.ejs %>
    <div class="contact-links">
      <div>
        <a href="mailto:hhhansmole@gmail.com?Subject=Hi%20Hansmole" class="fa fa-envelope-o" target="_top"></a>
        <p>Send an email</p>
      </div>
      <div>
        <a href="https://www.facebook.com/hhhansmole/" class="fa fa-facebook" target="_blank"></a>
        <p>Hansmole on Zuckerbook</p>
      </div>
      <div>
        <a href="https://www.instagram.com/hhhansmole/" class="fa fa-instagram" target="_blank"></a>
        <p>Hey, check out my instagram</p>
      </div>
      <div>
        <a href="https://github.com/hannahva?tab=repositories" class="fa fa-github" target="_blank"></a>
        <p>Look at my GitHub, if you like that sort of thing</p>
      </div>
    </div>
    <%- include partials/_footer.ejs %>
  </body>
</html>