<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include partials/_header.ejs %>
    <h1>Contact</h1>
    <a href="mailto:hhhansmole@gmail.com?Subject=Hi%20Hansmole" target="_top">Send an email</a>
  </body>
</html>