@import "variables";

div.contact-links {
  align-items: flex-start;
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30vh;

  div {
    width: 15vw;

    a {
      color: $text-color;
      display: inline-block;
      font-size: 15vh;
      text-decoration: none;
    }

    a:hover {
      color: $link-hover;
    }

    p {
      font-size: 4vh;
    }
  }
}