footer {
  background-color: black;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-between;
  position: absolute;
  width: 100vw;

  div.footer-icons {
    display: inline-block;
    font-size: 4vh;
    margin-right: 2vw;
    margin-top: 9vh;
    padding-bottom: 0;
    float: right;

    a {
      color: grey;
      margin: 1vw;
      text-decoration: none;
    }

    a:hover {
      color: pink;
    }
  }
  div.copyright {
    margin-top: 10vh;
    h6 {
      color: grey;
      display: inline-block;
    }
  }

  div.footer-message {
    color: grey;
    display: inline-block;
    float: left;
    font-size: 2vh;
    height: 10vh;
    margin-left: 2vw;
    margin-top: 10vh;
    overflow-wrap: break-word;
    width: 20vw;
  }
}