@import "variables";

footer {
  background-color: $secondary-color;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-between;
  position: absolute;
  width: 100vw;

  div.footer-icons {
    display: inline-block;
    font-size: 4vh;
    margin-right: 2vw;
    margin-top: 4vh;
    padding-bottom: 0;
    float: right;

    a {
      color: $secondary-text;
      margin: 1vw;
      text-decoration: none;
    }

    a:hover {
      color: $link-hover;
    }
  }
  div.copyright {
    margin-top: 8vh;

    h6 {
      color: $secondary-text;
      display: inline-block;
    }
  }

  div.footer-message {
    color: $secondary-text;
    display: inline-block;
    float: left;
    font-size: 1.5vh;
    height: 10vh;
    margin-left: 2vw;
    margin-top: 5vh;
    overflow-wrap: break-word;
    width: 15vw;
  }
}