#homepage {
  color: white;
  font-size: 10vh;
  font-family: 'Schoolbell', cursive;
  text-align: center;
}

div.index-links {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Schoolbell', cursive;
  justify-content: space-around;
  margin-top: 30vh;

  a {
    color: white;
    font-size: 10vh;
    text-decoration: none;
  }

  a:hover {
    color: pink;
  }
}